.contact {
  /*background-color: grey;*/
  padding: 15px;
  text-align: center;
}

iframe {
  align-content: space-around;
}
.card {
  align-items: center;
  margin: 10px;
  flex: 0 0 calc(25% - 20px);
  max-width: 25%;
}

.close {
  color: red;
  text-align: center;
  margin: 0;
  float: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-text {
  font-size: large;
}

.card-img-top {
  padding: 10px;
  align-items: center;
}

.tel {
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
}


