<app-nav-bar></app-nav-bar>
<div class="contact">
  <h1>Kontakta oss</h1>

  <div class="row">
    <!-- left card -->
    <div class="col-md-3">
      <div class="card bg-light">
        <div class="row">
          <div class="col"><img class="card-img-top" [src]="phone"
                                alt="telephone" style="width: 100px"></div>
          <div class="col"><img class="card-img-top" [src]="mail"
                                alt="mail" style="width: 100px"></div>
        </div>

        <div class="card-body text-center">
          <h4 class="card-title">Ring eller Skriva</h4>
          <p class="card-text tel">070 095-48-84</p>
          <p class="card-text">info@kungsvet.se</p>
        </div>
      </div>
    </div>

    <!-- center card -->
    <div class="col-md-3">
      <div class="card bg-light">
        <div class="card-body text-center">
          <h4 class="card-title">Oppetider:</h4>
          <p class="card-text">
          <ul>
            <li>Måndag:
              <time style="color: #1976d2">8:00-21:00</time>
            </li>
            <li>Tisdag:
              <time>8:00-16:00</time>
            </li>
            <li>Onsdag:
              <time style="color: #1976d2">8:00-21:00</time>
            </li>
            <li>Torsdag:
              <time>8:00-16:00</time>
            </li>
            <li>Fredag:
              <time>8:00-16:00</time>
            </li>
          </ul>
          <br/>
          <p class="close">Lordag, Sondag: stäng</p>
        </div>
      </div>
    </div>

    <!-- center card -->
    <div class="col-md-3">
      <div class="card bg-light">
        <img class="card-img-top" [src]="pin"
             alt="pin" style="width: 100px; height: 100px">
        <div class="card-body text-center">
          <h4 class="card-title">Adress:</h4>
          <p class="card-text">
            Tibble Torg 3<br>
            19634 Kungsängen
          </p>
        </div>
      </div>
    </div>

    <!-- right card -->
    <div class="col-md-3">
      <div class="card bg-light">
        <div class="card-body">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2025.9194009939874!2d17.732056951387115!3d59.48443970552875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fa3f105a92625%3A0xa8c8f0bfab558237!2sKungs%C3%A4ngens%20Veterin%C3%A4rklinik%20AB!5e0!3m2!1sen!2sse!4v1589811913526!5m2!1sen!2sse"
            width="300" height="300" frameborder="0"
            style="border:3px;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
