<app-nav-bar></app-nav-bar>

<div class="service">
  <h1>Vi erbjuder</h1>
  <!--First row-->
  <div class="row">

    <!-- 1 card -->
    <div class="col-sm-2 card bg-light">
      <img class="card-img-top" [src]="gastro"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Gastroskori</h4>
        <p class="card-text"></p>
      </div>
    </div>

    <!-- 2 card -->
    <div class="col-sm-2 card bg-light">
      <img class="card-img-top" [src]="bronko"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Bronkoskopi</h4>
        <p class="card-text"></p>
      </div>
    </div>

    <!-- 3 card -->
    <div class="col-sm-2 card bg-light">
      <img class="card-img-top" [src]="kardio"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Kardiologi</h4>
        <p class="card-text"></p>
      </div>
    </div>

    <!-- 4 card -->
    <div class="col-ms-2 card bg-light">
      <img class="card-img-top" [src]="monitor"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Ultraljud buk och hjärta</h4>
        <p class="card-text"></p>
      </div>
    </div>

    <!-- 5 card -->
    <div class="col-md-3 card bg-light">
      <img class="card-img-top" [src]="kirurgi"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Mjukdelskirurgi</h4>
        <p class="card-text"></p>
      </div>
    </div>

    <!-- 6 card -->
    <div class="col-md-3 card bg-light">
      <img class="card-img-top" [src]="blood"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Blodprovstagning och diagnostik på plats</h4>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

<!--Second row-->
  <div class="row">
    <!-- 1 card -->
    <div class="col-sm-2 card bg-light">
      <img class="card-img-top" [src]="ekg"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Sövning av patienter med hjärtproblem</h4>
        <p class="card-text"></p>

      </div>
    </div>

    <!-- 2 card -->
    <div class="col-sm-2 card bg-light">
      <img class="card-img-top" [src]="molar"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Tandvård</h4>
        <p class="card-text"></p>

      </div>
    </div>

    <!-- 3 card -->
    <div class="col-sm-2 card bg-light">
      <img class="card-img-top" [src]="syringe"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Vaccinationer, besiktning</h4>
        <p class="card-text"></p>
      </div>
    </div>

    <!-- 4 card -->
    <div class="col-ms-2 card bg-light">
      <img class="card-img-top" [src]="dialys"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Dialys</h4>
        <p class="card-text"></p>
      </div>
    </div>
    <!-- 5 card -->
    <div class="col-md-3 card bg-light">
      <img class="card-img-top" [src]="hostipal"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Avlivningar</h4>
        <p class="card-text"></p>
      </div>
    </div>
    <!-- 6 card -->
    <div class="col-md-3 card bg-light">
      <img class="card-img-top" [src]="pasport"
           alt="pin" style="width: 100px; height: 100px">
      <div class="card-body text-center">
        <h4 class="card-title">Avmaskning, pass</h4>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
