/*:host {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  background-color: white;*/
/*  flex-direction: column;*/
/*}*/

.service {
  font-size: 18px;
  text-align: center;
  padding: 15px;
  background-color: #9adcef;
}

.card {
  align-items: center;
  margin: 10px 0;
  padding: 30px 10px 20px;
  flex: 0 0 calc(15% - 10px);
  max-width: 15%;
}

.btn-light {
  outline: #24292e;
}
.service-back-button{
  position: absolute;
  z-index: 1;
  top: calc(62px + 2em);
  left: 2em;
  background: transparent;
  border: none;
  font-size: 19px;

}
.service-article{
  text-align: center;
}

.service-article-layout{
  background-size: cover;
  background-position: 50% 50%;
  height: calc(100vh - 120px);
  position: relative;
  padding: 25vh 25vw;
  font-size: 2rem;
}

.service-article-layout::before{
  content: "";
  background-color: rgba(255,255,255,0.8);
  height: calc(100vh - 120px);
  width: 100vw;
  top: 0;
  position: absolute;
  left: 0;
}

.service-article-layout *{
  position: relative;
  z-index: 1;
}

.service-article-layout p{
  font-size: 18px;
  text-align: left;
  margin: 0;
}
