<app-nav-bar></app-nav-bar>
<div class="booking-thanks">
  <h1>Tack för din bokning!</h1>
  <div class="row skip-line">
 <div class="col">
<p>Alltid välkommen hos oss på Kunsängens Veterinär klinik</p>
     <p>Det går också bra att ringa oss för <span>avbokning</span> eller om du har frågor.</p>
      <div class="row"
           style="justify-content: center; align-items: center">
        <img class="card-img-top" [src]="phone"
             alt="telephone" style="width: 45px">
        <p class="card-text tel">070 095-48-84</p>
      </div>
    </div>
    <div class="col">
<app-cancel-booking></app-cancel-booking>
    </div>
  </div>

  тут будет перечисление букинга, со всеми подробностями

</div>
