.info {
  background-color: #9adcef;
  text-align: center;
  padding: 5vh 15vw;
  font-size: 2rem;
}

.card {
  align-items: center;
  flex: 0 0 calc(40% - 20px);
  max-width: 40%;
  padding: 30px 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bolder;
}



