<app-nav-bar></app-nav-bar>
<div class="info">
  <h1>Om oss</h1>

  <p>Kungsängens veterinärklinik drivs av familjen Lenart – Nowakowski.</p>
  <p>Hubert Nowakowski har oavbrutet arbetat med smådjur sedan år 2000.</p>
  <p>Mitt första jobb var på Universitetsdjursjukhuset i Lublin, Polen.</p>

  <p>I 10 år har jag arbetat med forskning. Sedan 2005 har jag doktorerat i internmedicin och laboratoriediagnostik. Två
    år
    senare tog jag min specialisttitel för sjukdomar hos hund och katt vid ovan nämnda lärosäte och söker nu efter
    etablering i Mälardalen, Sverige, godkännande av motsvarande skyddad specialistbeteckning i Sverige. De senaste 7
    åren
    har jag inriktat mig inom bilddiagnostik och den minimalinvasiva kirurgin. Från min tid vid universitetet har jag
    publicerat många artiklar, flera av dem i världskända tidskrifter. Min andra anställning blev Väsby Djursjukhus, och
    nu är jag på Kungsängens Veterinärklinik, där jag kan ägna mina patienter den tid och uppmärksamhet de behöver samt
    ge
    dem bästa möjliga vård.</p>

  <p>Agnes Lenart är delägare och har arbetat tidigare som Chefsveterinär på Djurkliniken i Norrtälje. Hon brinner för
    kirurgi, och är skicklig med skalpellen efter sin pappa.</p>

  <p>För oss är det oerhört viktigt att utvecklas då nya behandlingsmetoder kan ge våra patienter ett bättre och längre
    liv. Tack vare närmare bemötande kan vi snabbare komma åt patienternas problem, därav kontrollera, eller behandla
    djur
    mer effektivt. Hemligheten ligger ofta i väldigt små detaljer…</p>
</div>

<div class="row justify-content-evenly">
  <!-- left card -->
  <div class="col-md-5 card bg-light">
    <div class="row">
      <div class="col"><img class="card-img-top" [src]="foto1"
                            alt="man" style="width: 300px"></div>

    </div>
    <div class="card-body text-center">
      <h4 class="card-title">DVM PhD, leg.vet.
        Hubert Nowakowski</h4>
      <p class="card-text">Hubert har tagit följande steg i sin utbildning (årtal):</p>
      <ul>
        <li>Examinerad som veterinär (2000)</li>
        <li>Doktorerat i internmedicin (2005)</li>
        <li>Specialistutbildning i sjukdomar hos hund och katt (2007)</li>
        <li>ESAVS Kardiologi kurser I-IV (2014)</li>
        <li>Specialintresse för kardiologi, intern medicin och bilddiagnostik</li>
      </ul>
    </div>
  </div>

  <!-- center card -->
  <div class="col-md-5 card bg-light">
    <div class="row">
      <div class="col"><img class="card-img-top" [src]="foto2"
                            alt="woman" style="width: 300px"></div>
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">Leg.vet. Agnes Lenart</h4>
      <p class="card-text">Agnes har tagit sin legitimation 2008.</p>
      <p>Har jobbat tidigare på Djurkliniken i Norrtälje.</p>
      <p>Hennes intresseområdet är kirurgi och dermatologi.</p>
    </div>
  </div>
</div>
