<form class="cancel-form was-validated" (ngSubmit)="onCancel($event)">
  <div class="cancel card">
    <div class="form-group">
      <div *ngIf="isCancelError" class="text-danger">
        <h3>{{error}}</h3>
      </div>
      <h3>Vill du <span>AVBOKA</span> tid hos oss? </h3>
      <p> Booking kod was sended to your email</p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="email">E-post:</label>
            <input id="email"
                   name="email"
                   type="email"
                   class="form-control"
                   placeholder="name@example.com"
                   [(ngModel)]="formModel.email"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   #email="ngModel"
                   [class.is-invalid]="email.invalid && email.touched"
                   required>
            <!--            <div class="alert alert-danger"-->
            <!--                 *ngIf="emailInput.touched && !emailInput.valid">-->
            <!--              E-mail is required-->
            <!--            </div>-->
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="bookingCode">Booking code</label>
            <input type="text"
                   id="bookingCode"
                   name="bookingCode"
                   class="form-control"
                   [(ngModel)]="formModel.bookingCode"
                   #bookingCode="ngModel"
                   [class.is-invalid]="bookingCode.invalid && bookingCode.touched">
          </div>
        </div>
      </div>
    </div>

    <div class="form-button">
      <!--      что делает эта кнопка? -->
       <button type="submit" class="btn btn-danger">AVBOKA</button>
    </div>
  </div>
</form>
