<form class="cancel-form was-validated">
  <div class="cancel card">
    <div class="form-group">
      <h3>Vill du <span>AVBOKA</span> tid hos oss? </h3>
      <p> Booking kod was sended to your email</p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="email">E-post:</label>
            <input
              id="email"
              type="email"
              class="form-control"
              placeholder="name@example.com"
              required>
            <div class="alert alert-danger"
                 *ngIf="email.touched && !email.valid">
              E-mail is required
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="cancel">Booking kod</label>
            <input type="text" id="cancel" class="form-control"></div>
        </div>
      </div>
    </div>

    <div class="form-button">
      <!--      что делает эта кнопка? -->
      <!--      <button (click)="bookingService.selectCancellation(false)">Cancel</button>-->
      <button type="submit" class="btn btn-danger" [routerLink]="['/cancel-thanks']">AVBOKA</button>
    </div>
  </div>
</form>
