.cancel-form {
  background-color: #9adcef;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-left: 1rem;
  margin: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 1rem;
  border-color: red;
  padding: 1rem;
  font-size: 18px;
}


