<app-nav-bar></app-nav-bar>
<div class="book">
  <h1>Boka tid</h1>
  <div class="row">
    <div class="col"><p>Välkommen att boka tid hos oss på Kunsängens Veterinär klinik</p>
      <p>Det går också bra att ringa oss för <span>bokning/avbokning</span> eller om du har frågor.</p>
      <div class="row"
           style="justify-content: center; align-items: center">
        <img class="card-img-top" [src]="phone"
             alt="telephone" style="width: 45px">
        <p class="card-text tel">070 095-48-84</p>
      </div>
    </div>
    <div class="col">
      <app-cancel-booking></app-cancel-booking>
    </div>
  </div>

  <!--calendar-->

  <div class="row">
    <button class="col" *ngIf="selectedWeek > currentWeek" (click)="onPrevWeekClick()">
      <i class="material-icons">navigate_before</i>
      <i class="material-icons">navigate_before</i>
      Last week
    </button>
    <div class="col" *ngIf="selectedWeek <= currentWeek">
      <s>Last week</s>
    </div>
    <div class="col">
      <div class="cweek">Week {{currentWeek}} of the year</div>
    </div>
    <button class="col" *ngIf="selectedWeek < currentWeek + 3" (click)="onNextWeekClick()">
      Next week
      <i class="material-icons">navigate_next</i>
      <i class="material-icons">navigate_next</i>
    </button>
    <div class="col" *ngIf="selectedWeek >= currentWeek + 3">
      <s>Next week</s>
    </div>
  </div>

  <!--  current week-->

  <div *ngIf="!bookingService.selectedTimeSlot && !bookingService.isCancelling;">
    <div class="row justify-content-evenly">
      <div *ngFor="let day of timeSlots" class="calendar">
        <h2>{{day.day}}</h2>
        <div *ngFor="let time of day.slots">
          <div *ngIf="time.available" (click)="bookingService.selectTimeSlot(time)">
            <button class="slot">{{time.label}}</button>
          </div>
          <div *ngIf="!time.available">
            <button class="slot-booked">{{time.label}}</button>
          </div>
        </div>
      </div>
    </div>
    <!--    <button (click)="bookingService.selectCancellation(true)">Avboka</button>-->
  </div>
  <div class="col" *ngIf="bookingService.isCancelling;">
    <app-cancel-booking></app-cancel-booking>
  </div>
  <div class="col" *ngIf="bookingService.selectedTimeSlot;">
    <app-booking-form></app-booking-form>
  </div>


</div>
