<app-nav-bar></app-nav-bar>
<div class="book">
  <h1>Boka tid</h1>
  <div class="row">
    <div class="col"><p>Välkommen att boka tid hos oss på Kunsängens Veterinär klinik</p>
      <p>Det går också bra att ringa oss för <span>bokning/avbokning</span> eller om du har frågor.</p>
    </div>
    <div class="col">
      <div class="row" style="justify-content: center">
        <img class="card-img-top" [src]="phone"
             alt="telephone" style="width: 45px">
        <p class="card-text tel">070 095-48-84</p>
      </div></div>
  </div>


  <div class="row">
    <div class="col">
      <app-booking-form></app-booking-form>
    </div>
    <div class="col">
      тут будет календарь. пока что форма логина
      <app-book-calendar></app-book-calendar>
    </div>
  </div>


</div>
