<div class="extra">
  <div class="row">
    <!-- left card -->
    <div class="col-md-3 card bg-light">
      <div class="row">
        <div class="col"><img class="card-img-top" [src]="stethoscope"
                              alt="stethoscope" style="width: 150px"></div>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Träffa din veterinär idag!</h4>
        <p class="card-text">Vill du ha snabb besök?
          Ring oss så ordnar vi en tid som passar Dig!</p>
        <p class="card-text tel">070 095-48-84</p>
      </div>
    </div>

    <!-- center card -->
    <div class="col-md-3 card bg-light">
      <div class="row">
        <div class="col"><img class="card-img-top" [src]="microscope"
                              alt="microscope" style="width: 150px"></div>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Expertis på plats</h4>
        <p class="card-text">Vi har det mest moderna utrustningen på plats samt erfarenhet at använda den. Detta
          resulterar i att oftast får du en diagnos och rätt behandling redan vid första besöket – enkelt!</p>
      </div>
    </div>

    <!-- center card -->
    <div class="col-md-3 card bg-light">
      <div class="row">
        <div class="col"><img class="card-img-top" [src]="advice"
                              alt="advice" style="width: 100px"></div>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Gratis veterinär rådgivning
        </h4>
        <p class="card-text">Behöver du råd från någon av våra veterinärer? Prata med
          receptionen, så ordnar vi detta!
        </p>
        <p class="card-text tel">070 095-48-84</p>
      </div>
    </div>

    <!-- right card -->
    <div class="col-md-3 card bg-light">
      <div class="row">
        <div class="col"><img class="card-img-top" [src]="care"
                              alt="care" style="width: 150px"></div>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Hembesök</h4>
        <p class="card-text">Stress in för veterinärbesök? – Ingen fara! Vi gör hembesök i Kungsängen, Bro och Järfälla,
          så att du och ditt djur, kan koppla av.</p>
      </div>
    </div>
  </div>
</div>
