.card {
  align-items: center;
  margin: 10px;
  flex: 0 0 calc(23% - 10px);
  max-width: 23%;
  padding: 30px 10px 20px;
}

@media (max-width: 576px) {
  .card {
    align-items: center;
    margin: 10px;
    flex: 0 0 calc(90% - 20px);
    max-width: 90%;
    padding: 30px 10px 20px;
  }
}

.card-text {
  font-size: 1.15rem;
}

.card-img-top {
  padding: 10px;
  align-items: center;
}

.tel {
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
