.admin {
  background-color: #9adcef;
  display: flex;
  justify-content: center;
}

.login {
  margin: 10% 0 10% 0;
  padding: 2rem;
}

.btn-success {
  margin: 10px auto;
  display: block;
}

.btn-success:disabled {
  cursor: not-allowed;
  opacity: 0.1;
}
