.header {
  height: 40em;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: cornflowerblue;
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  background-position: center;
}
.header::before {
  content: '';
  position: absolute;
  height: 100%;
  background-image: linear-gradient(130deg,rgba(204,21,26,0.45) 50%,rgba(204,21,26,0.1) 50%);
  width: 100%;
  top: 0;

}

.header  h1 {
  font-size: 54px;
  font-weight: bold;
  padding: 0 30px;
  color: white;
}

.header  p {
  font-size: 34px;
  font-weight: bold;
  color: white;
}
