<app-nav-bar></app-nav-bar>
<app-header></app-header>
<div class="home">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <h3>Column 1 home component</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p></div>
    <div class="col-sm-4">bla bla bla</div>
    <div class="col-sm-3">
      <h3>Column 1 home component</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p></div>
  </div>
  <div class="col-sm-1"></div>
</div>
<app-footer></app-footer>
