<div class="bookin-form" >
  <div *ngIf="isBookingError">
    <h3 class="text-danger">Booking error: {{error}} </h3>
  </div>
  <div class="row">
    <div class="col">
      <form class="was-validated" (ngSubmit)="triggerBooking($event)">
        <div class="form-group">
          <label for="name">Your Name</label>
          <input
            id="name"
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="formModel.name"
            required>
          <div class="valid-feedback">Valid</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
          <label for="email">E-post:</label>
          <input id="email"
                 name="email"
                 type="email"
                 class="form-control"
                 placeholder="name@example.com"
                 [(ngModel)]="formModel.email"
                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                 #email="ngModel"
                 [class.is-invalid]="email.invalid && email.touched"
                 required>
          <!--            <div class="alert alert-danger"-->
          <!--                 *ngIf="emailInput.touched && !emailInput.valid">-->
          <!--              E-mail is required-->
          <!--            </div>-->
        </div>
        <div class="form-group">
          <label for="telephone">Telefon</label>
          <input
            name="telephone"
            id="telephone"
            type="text"
            class="form-control">
        </div>
        <!--  <div class="form-group">-->
        <!--    <label for="service">Besöksorsak*</label>-->
        <!--    <select class="form-control" id="service" >-->
        <!--      <option>  .......</option>-->
        <!--      <option>Allmänt veterinärbesök Katt/Hund</option>-->
        <!--      <option>Vaccination Katt/Hund/Kanin</option>-->
        <!--      <option>3</option>-->
        <!--      <option>4</option>-->
        <!--      <option>5</option>-->
        <!--    </select>-->
        <!--  </div>-->

        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea
            id="comment"
            name="comment"
            cols='15'
            rows="5"
            class="form-control">
    </textarea>
        </div>

        <div class="form-button">
          <button type="reset"
                  class="btn btn-reset"
                  (click)="bookingService.selectTimeSlot(null)">
            Go to calendar
          </button>

          <button type="submit"
                  class="btn btn-success"
                  >
            Boka tid
          </button>
        </div>
      </form>
    </div>

    <div class="col">

      <h1>{{bookingService.getSelectedDateOfWeek()}}</h1>
      <h1>{{bookingService.getSelectedDate()}}</h1>
      <h1>{{bookingService.getSelectedTime()}}</h1>
    </div>
  </div>
</div>
