.booking-form {
  background-color: #9adcef;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
  margin: 0;
}

.form-button {
  display: flex;
  justify-content: space-between;
}

.btn-back{
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: 0;
  padding: .2rem .4rem;
}

.btn-back i{
  padding-right: .3em;
}

.taked-date {
  text-align: center;
}
