<!--admin calendar-->


<div class="admin-calendar">
  <h1>Välkommen admin</h1>
  <div *ngIf="!bookingService.selectedTimeSlot">
    <div class="row">
      <div class="col cweek" *ngIf="selectedWeek > currentWeek" (click)="onPrevWeekClick()">
        <i class="material-icons">arrow_back</i>
        Förra veckan
      </div>
      <div class="col" *ngIf="selectedWeek <= currentWeek">
        <s>Förra veckan</s>
      </div>
      <div class="col" *ngIf="selectedWeek == currentWeek">

        <div class="cweek">Denna vecka {{currentWeek}} </div>
      </div>
      <div class="col cweek" *ngIf="selectedWeek < currentWeek + 3" (click)="onNextWeekClick()">
        Nästa vecka
        <i class="material-icons">arrow_forward</i>
      </div>
      <div class="col" *ngIf="selectedWeek >= currentWeek + 3">
        <s>Nästa vecka</s>
      </div>
    </div>

    <!--  current week-->

    <div class="row justify-content-evenly">
      <div *ngFor="let day of timeSlots" class="calendar">
        <div class="weekday">{{day.day}}</div>
        <div *ngFor="let time of day.slots">
          <div *ngIf="time.available" (click)="bookingService.selectTimeSlot(time)">
            <button class="slot">{{time.label}}</button>
          </div>
          <!-- Три вида блоков
           если booking.isActive===true тогда рисовать как активный букинг и кнопку Avboka
           если booking.isActive===false тогда рисовать данные перечеркнутые как отмена
           если нет booking или {} пустой тогда время свободно
           -->
          <div *ngIf="!time.available" class="booked-time">
            <button class="slot-booked">{{time.label}}</button>
            <div>{{time.booking.name}} ({{time.booking.email}})
              <div *ngIf="time.booking.comments.trim().length">
                Comment: {{time.booking.comments }}
              </div>

            </div>
            <button (click)="onCancel(time.booking.bookingCode)" class="btn btn-info">Avboka</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col" *ngIf="bookingService.selectedTimeSlot;">
    <app-booking-form></app-booking-form>
  </div>
</div>
