<div class="nav-bar">
  <div class="row">
    <div class="col">
      <a [routerLink]="['/']">
        <i class="material-icons">home</i></a>
    </div>
    <div class="col">
      <a [routerLink]="['/om-oss']">Om oss</a>
    </div>
      <div class="col">
      <a [routerLink]="['/service']">Behandlingar</a>
      </div>
        <div class="col">
      <a [routerLink]="['/contact']">Kontakt</a>
    </div>
    <div class="col">
      <a [routerLink]="['/shop']">
        <i class="material-icons">local_grocery_store</i></a>
    </div>
  </div>
</div>
