/*:host {*/
/*  display: flex;*/
/*  align-items: baseline;*/
/*  justify-content: center;*/
/*  align-content: space-around;*/
/*  padding: 0;*/
/*  width: 100%;*/
/*  height: auto;*/
/*}*/

.nav-bar {
  background-color: yellow;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}



