/*:host {*/
/*  display: flex;*/
/*  align-items: baseline;*/
/*  justify-content: center;*/
/*  align-content: space-around;*/
/*  padding: 0;*/
/*  width: 100%;*/
/*  height: auto;*/
/*}*/

.nav-bar {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.logoLink {
  width: 300px;
  display: block;
}

.logoLink img {
  width: 100%;
}

.nav-link {
  display: flex;
}

