/* You can add global styles to this file, and also import other style files */

html {
  font-size: 14pt;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

router-outlet + * {
  padding: 0;
}

/* Text */

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  text-align: left;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* for card */
.justify-content-evenly{
  justify-content: space-evenly;
}

.btn-secondary {
  border-color: #24292e;
}
